* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Bai Jamjuree', sans-serif;;
    font-size: 18px;
}

body {
    background-color: $c_bg_body;
    text-align: center;
}

/* --------------------- PAGE ------------------- */

.page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    background-image: url(../img/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;

    .header-wrapper {
        width: calc(100% - 50px);
        margin: 18vh auto 8.5rem;
    
        img {
            margin-bottom: 3rem;
        }
    }
}

main {
    width: calc(100% - 50px);

    img {
        width: 100%;
    }

    #section1 {
        margin-bottom: 8rem;

        .ul-img-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 4rem;
            padding: 0 0.5rem;
            gap: 3rem;
    
            ul {
                list-style: none;
    
                .paragraph {
                    margin-bottom: 2.7rem;
                }
            }
        }

    }

    #section2 {
        margin-bottom: 4rem;
        overflow: hidden;
        
        img {
            display: block;
            width: 105%;
            transform: translateX(-2.5%);
        }
    }

    #section3 {
        margin-bottom: 6.5rem;

        ul {
            list-style: none;
            margin-top: 4rem;

            li {
                
                img {
                    width: 40px;
                    margin-bottom: 2rem;
                }
            }

            .paragraph {
                margin-bottom: 2.7rem;
            }
        }
    }

    #section4 {
        margin-bottom: 5.5rem;

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;

            li {
                margin-bottom: 2.5rem;

                img {
                    flex: 1;
                    max-width: 140px;
                }
            }
        }
    }

    #section5 {
        margin-bottom: 9rem;

        .paragraph {
            margin-bottom: 2rem;
        }
    }
}

footer {
    background-color: darken($c_bg_body , 5%);
    width: 100%;
    padding-top: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 54px;
        margin-bottom: 2rem;
    }

    .internal-links {
        list-style: none;
        margin-bottom: 1rem;
        
        li {
            margin-bottom: 1.5rem;

            a {
                text-decoration: none;
                color: $c_txt_title;

                &:hover {
                    color: $c_bg_button;
                }
            }
        }
    }

    .social-links {
        list-style: none;
        display: flex;
        gap: 2rem;

        li {
            width: 24px;

            a {
                width: 100%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}