@media screen and (min-width: 768px) {

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .paragraph {
        max-width: 700px;
        margin: 0 auto 3rem;
        font-size: 1rem;
    }

    .buttons-wrapper {
        flex-direction: row;
        justify-content: center;

        .btn {
            max-width: 230px;
        }
    }
    
    header {
        background-image: url(../img/bg-header-desktop.png);

        .paragraph {
            font-size: 1.1rem;
        }
    }

    main {

        #section1 {
        
            .ul-img-wrapper {
                flex-direction: row;
                text-align: left;
                gap: 6rem;
                transform: translate(-150px);
                justify-content: center;

                img {
                    max-width: 750px;
                    width: 60%;
                }

                .paragraph {
                    width: 350px;
                    font-size: 0.9rem;
                }
            }
        }

        #section2 {

            img {
                max-width: 900px;
                margin: 6rem auto 0;
                transform: none;
            }
        }

        #section3 {

            ul {
                display: flex;
                width: 100%;
                max-width: 1125px;
                margin: 4rem auto 0;
                gap: 2rem;

                li {
                    flex: 1;
                }
            }
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5rem 3rem;

        img {
            margin-bottom: 0;
        }

        .internal-links {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "a c e"
                "b d .";
            text-align: left;
            gap: 1rem 1rem;
            margin-bottom: 0;
            

            li {
                margin-bottom: 0;

                &:nth-child(1) {
                    grid-area: a;
                }
                &:nth-child(2) {
                    grid-area: b;
                }
                &:nth-child(3) {
                    grid-area: c;
                }
                &:nth-child(4) {
                    grid-area: d;
                }
                &:nth-child(5) {
                    grid-area: e;
                }
            }
        }

        .social-links {
            gap: 1.5rem;
        }
    }
}

@media screen and (min-width: 992px) {

    main {

        #section4 {

            ul {
                flex-direction: row;
                justify-content: center;
                gap: 6rem;
            }
        }
    }

    footer {
        padding: 2.5rem 5rem;

        .internal-links {
            gap: 1rem 3rem;
        }
    }
}