/* ----------------------------------- COLORS ----------------------------------- */

$c_bg_body: hsl(0, 0%, 100%);
$c_bg_button: hsl(171, 66%, 44%);
$c_bg_button2: hsl(233, 100%, 69%);

$c_txt_title: hsl(210, 10%, 33%);
$c_txt_paragraph: hsl(201, 11%, 66%);
$c_txt_btn: hsla(0, 0%, 100%, 80%);